fastapi==0.115.12
uvicorn==0.34.2
sentence-transformers==4.1.0
langchain==0.3.24
PyMuPDF==1.25.5
firebase-admin==6.8.0
pinecone==6.0.2
mistralai==1.7.0
python-multipart==0.0.20
langchain_mistralai==0.2.10
langgraph==0.4.1